@import 'tailwindcss';

@layer base {
  :root {
    --text: 230 80% 94%;
    --text-dark: 10 95% 12%;
    --background: 229 85% 3%;
    --primary: 230 81% 71%;
    --secondary: 309 81% 31%;
    --accent: 333 82% 51%;
  }

  html {
    @apply font-main text-text bg-gray-600 bg-[repeating-linear-gradient(90deg,#999_0_1px,transparent_1px_40px),repeating-linear-gradient(0deg,#999_0_1px,transparent_1px_40px)];
  }

  button,
  li {
    @apply cursor-pointer;
  }

  h1 {
    @apply font-highlight text-3xl font-semibold;
  }
}

@theme {
  --font-main: 'Inter', monospace;
  --font-highlight: 'Poppins', sans-serif;

  --color-text: hsl(var(--text));
  --color-text-dark: hsl(var(--text-dark));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-background: hsl(var(--background));
  --color-accent: hsl(var(--accent));
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: translateX(20%) scale(0.75);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes scaleUpFromSide {
  0% {
    transform: translateX(-40%) scale(0.25);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
