@import 'tailwindcss';

@layer base {
  :root {
    --text: 217 95% 92%;
    --text-dark: 10 95% 12%;
    --background: 217 94% 6%;
    --primary: 220 95% 75%;
    --secondary: 269 95% 34%;
    --accent: 281 95% 52%;
  }

  html {
    @apply font-main text-text bg-neutral-400;
  }

  button,
  li {
    @apply cursor-pointer;
  }

  h1 {
    @apply font-highlight text-3xl;
  }
}

@theme {
  --font-main: 'Inter', monospace;
  --font-highlight: 'Poppins', sans-serif;

  --color-text: hsl(var(--text));
  --color-text-dark: hsl(var(--text-dark));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-background: hsl(var(--background));
  --color-accent: hsl(var(--accent));
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: translateX(20%) scale(0.75);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes scaleUpFromSide {
  0% {
    transform: translateX(-40%) scale(0.25);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
